.title{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

.button{
    margin-top: 200px;
    text-align: center;
}

#startButton{
    display: inline-block;
}

#endButton{
    display: inline-block;
}

#resetButton{
    display: inline-block;
}